[Desktop Entry]
Name=Alien File Launcher
Version=v1
Exec=python3.8 /home/sir-alien/Documents/AlienFileLauncher/main.py
Terminal=false
Type=Application
